body {
    margin: 0;
  }
  
  .container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Можна встановити відповідний розмір контейнера */
    margin: auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .text-overlay {
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
    color: rgb(255, 0, 0);
    
    
  }
  
